[submodule "projects/pybind_subdirectory/pybind11"]
	path = projects/pybind_subdirectory/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.2
[submodule "projects/gil/gil"]
	path = projects/gil/gil
	url = https://github.com/boostorg/gil.git
	branch = develop
